In [17]:
!pip install recordlinkage

Requirement already satisfied: recordlinkage in /usr/local/lib/python3.6/dist-packages (0.14)
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: jellyfish>=0.5.4 in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (0.8.2)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (0.22.2.post1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (1.1.4)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (1.18.5)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from recordlinkage) (0.17.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23->recordlinkage) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23->recordlinkage) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->recordlinkage) (1.15.0)

In [ ]:
!wget [REMOVED] -O data.zip

In [19]:
!unzip /content/data.zip

Archive:  /content/data.zip
replace bank_statement.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: bank_statement.csv
  inflating: checkout.csv

In [2]:
import pandas as pd
import recordlinkage

In [3]:
bank = pd.read_csv('/content/bank_statement.csv', index_col='stmt_id')
bank.sort_values('stmt_amount', inplace=True)

In [4]:
ckt = pd.read_csv('/content/checkout.csv', index_col='ckt_id')
ckt.sort_values('ckt_amount', inplace=True)

In [23]:
test_bank_1 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(0, 1202)])]
test_bank_2 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(1200, 1602)])]
test_bank_3 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(1600, 2002)])]
test_bank_4 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(2000, 2402)])]
test_bank_5 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(2400, 2802)])]
test_bank_6 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(2800, 3202)])]
test_bank_7 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(3200, 3602)])]
test_bank_8 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(3600, 4002)])]
test_bank_9 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(4000, 3802)])]
test_bank_10 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(4800, 6002)])]
test_bank_11 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(6000, 8002)])]
test_bank_12 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(8000, 11602)])]
test_bank_13 = bank[bank["stmt_amount"].isin([x / 100.0 for x in range(11600, 20002)])]

In [24]:
test_ckt_1 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(0, 1202)])]
test_ckt_2 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(1200, 1602)])]
test_ckt_3 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(1600, 2002)])]
test_ckt_4 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(2000, 2402)])]
test_ckt_5 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(2400, 2802)])]
test_ckt_6 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(2800, 3202)])]
test_ckt_7 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(3200, 3602)])]
test_ckt_8 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(3600, 4002)])]
test_ckt_9 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(4000, 3802)])]
test_ckt_10 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(4800, 6002)])]
test_ckt_11 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(6000, 8002)])]
test_ckt_12 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(8000, 11602)])]
test_ckt_13 = ckt[ckt["ckt_amount"].isin([x / 100.0 for x in range(11600, 20002)])]

In [72]:
def create_csv(test_bank, test_ckt, n):
    #test_bank = 'test_bank_'+n
    #test_ckt = 'test_ckt_'+n
    csv_fname = '/content/Hasil2/'+n+'.csv'

    # print(test_bank)
    # print(test_ckt)
    # print(csv_fname)

    candidates = indexer.indeindexer = recordlinkage.Index()
    indexer.block(left_on='stmt_amount', right_on='ckt_amount')
    candidates = indexer.index(test_bank, test_ckt)
    print(len(candidates))

    compare = recordlinkage.Compare()
    compare.string('desc',
                'buyer_name',
                #threshold=0.31,
                threshold=0.25,
                label='desc_name')
    compare.exact('stmt_amount', 'ckt_amount', label='amount')

    features = compare.compute(candidates, test_bank,
                            test_ckt)

    potential_matches = features[features.sum(axis=1) > 1].reset_index()
    potential_matches['Score'] = potential_matches.loc[:, 'desc_name':'amount'].sum(axis=1)
    potential_matches.to_csv(csv_fname)

In [73]:
create_csv(test_bank_1, test_ckt_1, '1')
create_csv(test_bank_2, test_ckt_2, '2')
create_csv(test_bank_3, test_ckt_3, '3')
create_csv(test_bank_4, test_ckt_4, '4')
create_csv(test_bank_5, test_ckt_5, '5')
create_csv(test_bank_6, test_ckt_6, '6')
create_csv(test_bank_7, test_ckt_7, '7')
create_csv(test_bank_8, test_ckt_8, '8')
create_csv(test_bank_9, test_ckt_9, '9')
create_csv(test_bank_10, test_ckt_10, '10')
create_csv(test_bank_11, test_ckt_11, '11')
create_csv(test_bank_12, test_ckt_12, '12')
create_csv(test_bank_13, test_ckt_13, '13')

2444079
3018435
3703775
3369859
2570227
2244758
1865858
1491494

/usr/local/lib/python3.6/dist-packages/recordlinkage/base.py:139: RuntimeWarning: invalid value encountered in long_scalars
  rr = 1 - n / n_max

0
1756739
1048622
653524
276824

In [40]:
import glob

path = r'/content/Hasil' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [69]:
subs = frame.drop(['Unnamed: 0', 'desc_name', 'amount', 'Score'], axis=1)
subs.drop_duplicates('stmt_id', inplace=True)
subs.drop_duplicates('ckt_id', inplace=True)

In [70]:
my_subs = pd.read_csv('/content/bank_statement.csv')
my_subs.sort_values('stmt_amount', inplace=True)
my_subs.drop(['stmt_amount', 'desc'], axis=1, inplace=True)
submission = pd.merge(my_subs, subs, on='stmt_id', how='left')
submission.sort_values('stmt_id', inplace=True)

In [71]:
submission.to_csv('/content/Hasil/subs1.csv', index=False)